#Local dependencies
*.idea/
VroomNEverendingInstallation.vcxproj
VroomNEverendingInstallation.vcxproj.filters
VroomNEverendingInstallation.vcxproj.user
packages.config
x64/
src/TestProjects/Testing/Testing.vcxproj
src/TestProjects/Testing/Testing.vcxproj.user


#OS specific
.DS_Store

#Python
*.pyc/build

build/
