#Local dependencies
*.idea/
VroomNEverendingInstallation.vcxproj
VroomNEverendingInstallation.vcxproj.filters
VroomNEverendingInstallation.vcxproj.user
x64/

#OS specific
.DS_Store

#Python
*.pyc/build

build/
